version: '3'

services:
  postgresql:
    image: postgres
    command: ["postgres", "-c", "log_statement=all", "-c", "log_destination=stderr"]
    ports:
      - '5555:5432'
    environment:
      POSTGRES_PASSWORD: 'admin'
      POSTGRES_USER: 'admin'
      POSTGRES_DB: admin
    networks:
      - network-estagio

  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: app
    ports:
      - 3333:3333
    volumes:
      - .:/home/node/app
    networks:
      - network-estagio
    depends_on:
      - postgresql

networks:
  network-estagio:
    driver: bridge
